/*-----Header-----*/
.header{
    float: right;
    /* background-color: aqua; */
}

/*-----Main-----*/
.main{
    background-color: rgb(136, 255, 0);
}
/*-----Footer-----*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: cadetblue;
}