@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

/*-----Navigation Bar-----*/
.navbar ul{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    overflow: hidden;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar li{
    float: left;
}
.navbar a:hover{
    background-color:black;
    text-decoration: none;
    color: white;
}
/* 
.dropdown-content{
    display: none;
}

.dropdown:hover .dropdown-content{
    display: block;
} */


/*-----Main-----*/
#photo-1{
    background-color: #BF5700;
    /* background-image: url(../Images/UT_Campus.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 200px;
}

.about {
    background-color: 	#FFA500;
    background-repeat: no-repeat;
    background-size: cover;
    float: center;
    padding-top: 15px;
    padding-bottom: 200px;
}
.project {
    background-color:#FAC898;
    background-repeat: no-repeat;
    background-size: cover;
    float: center;
    padding-top: 15px;
    padding-bottom: 200px;
}

.a{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    float: center;
    padding-top: 15px;
    padding-bottom: 200px;
}

/*-----Footer-----*/
#footer {
    background-color: hsl(0, 0%, 25%);
    padding: 25px;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.footer-info {
    padding: 15px;
}

.social-logo {
    font-size: 3em;
    color:white;
    padding: 5px;
}

.social-logo:hover {
    color: #BF5700;
}
