@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.body{
    line-height: 1.6;
    overflow-x: hidden;
}

/*-----Navigation Bar-----*/
.navbar{
    z-index: 1;
}

.navbar > ul {
    background-color: hsl(0, 0%, 25%);
    list-style-type: none;
    padding: 0;
    margin:0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar > ul > li {
    float: left;
    position: relative;
}

.main-button {
    color: white;
}

.nav-button{
    color: #C0C0C0;
}
.navbar > ul > li > a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: large;
}

.navbar ul li a:hover{
    color: black;
    border-radius: 10px;
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color:0 hsl(0, 0%, 25%);
    left:0;
    padding: 0;
    margin: 0;
    width: auto;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color:0 hsl(0, 0%, 25%);
    border-radius: 10px;
    left:0;
    padding: 0;
    margin: 0;
    width: auto;
    box-shadow: none; 
    border: none;
}

.dropdown-menu > li{
    display: block;
    border-radius: 10px;
    background-color: hsl(0, 0%, 25%);
    box-shadow: none;
    border: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
    border-radius: 10px;
    background-color: hsl(0, 0%, 25%);
    box-shadow: none; 
    border: none
}

.dropdown-menu > li > a{
    background-color: hsl(0, 0%, 25%);
    padding: 15px;
    text-decoration: none;
    display: block;
    color: #C0C0C0;
    font-size: large;
    border-radius: 10px;
    box-shadow: none; 
}

/* -----ABOUT ME----- */
.about-col{
    flex-basis: 50%;
    padding: 100px 125px;
    overflow-x: hidden;
}

#photo-about {
    background-image: url(../Images/el-paso-skyline-transformed.webp);
    padding-top: 650px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 10% bottom 50%;
}

.main-about{
    background-color: #f5f4e8;
    overflow-x: hidden;
}

.animated-text {
    font-size: 75px;
    font-weight: 600;
    min-width: 280 px;
    background-color: #f5f4e8;
    z-index: -1000;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Student at UT Austin.";
    color: #ff7f50;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #f5f4e8;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #f5f4e8;
    }
}

@keyframes words {
    0%, 20% {
        content: "Student at UT Austin.";
    }
    21%, 40% {
        content: "Mechanical Engineer.";
    }
    41%, 60% {
        content: "Software Engineer.";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

/*-----HOME-----*/
#first-block {
    padding: 200px;
    padding-left: 15px;
    color: white;
    background-color: hsl(0, 0%, 25%);
    font-size: 75px;
}

#first-block p{
    color: #C0C0C0;
}

.section-two {
    background-color: #B2BEB5;
    background-size: cover;
}
/* #first-block{
    background-color:  hsl(0, 0%, 25%);
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
    size: 500px;
} */

.about {
    background-color: 	hsl(0, 0%, 25%);
    background-repeat: no-repeat;
    background-size: cover;
    float: center;
    padding-top: 15px;
    padding-bottom: 200px;
    background-attachment: fixed;
}
.project {
    background-color:#FAC898;
    background-repeat: no-repeat;
    background-size: cover;
    float: center;
    padding-top: 15px;
    padding-bottom: 200px;
}

.a{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    float: center;
    padding-top: 15px;
    padding-bottom: 200px;
}

.home-sub {
    position:absolute;
    opacity: 0;
    /* animation-fill-mode: both; */
    /* animation-iteration-count: infinite; */
    animation: fade 12s infinite
    /* animation-duration: 12s; */
}

.home-sub:nth-of-type(1){
    animation-name: fade;
    /* animation-fill-mode: both;
    animation-iteration-count: 1; */
    animation-delay: 0s;
    /* animation-duration: 4s;
    animation-direction: normal; */
}

.home-sub:nth-of-type(2){
    animation-name: fade;
    /* animation-fill-mode: both;
    animation-iteration-count: 1; */
    animation-delay: 4s;
    /* animation-duration: 4s;
    animation-direction: normal; */
}

.home-sub:nth-of-type(3){
    animation-name: fade;
    /* animation-fill-mode: both;
    animation-iteration-count: 1; */
    animation-delay: 8s;
    /* animation-duration: 4s;
    animation-direction: normal; */
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}

/* -----MECH E PROJECTS----- */

.main-mech{
    padding-left: 120px;
}

.mech-col{
    flex-basis: 45%;
    padding: 120px 125px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.mech-row {
    display: flex;
    flex-wrap: wrap;
}

.img_wrap {
    position: relative;
    width: 477px;
    height: 491px;
}

#spinner {
    width: 477px;
    height: 491px;
}

.img_descrp {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(0, 0%, 25%,.5);
    color: white;
    visibility: hidden;
    opacity: 0;
    border-radius: 15px;
}

.img_wrap:hover .img_descrp{
    visibility: visible;
    padding-top: 210px;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-right: 15px; */
    opacity: 1;
}

.img_wrap_two {
    position: relative;
    width: 383px;
    height: 739px;
}

#windmill {
    width: 383px;
    height: 739px;
}

.img_descrp_two {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(0, 0%, 25%,.5);
    color: white;
    visibility: hidden;
    opacity: 0;
    border-radius: 15px;
}

.img_wrap_two:hover .img_descrp_two{
    visibility: visible;
    padding-top: 300px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    opacity: 1;
}

/* -----SOFT PROJ----- */
.main-soft{
    padding-left: 120px;
}

.soft-col{
    flex-basis: 45%;
    padding: 120px 125px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.soft-row {
    display: flex;
    flex-wrap: wrap;
}

.airbnb-image {
    position: relative;
    width: 470px;
    height: 226px;
}

#air {
    width: 470px;
    height: 226px;
}

.air-image-descrp {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(0, 0%, 25%,.5);
    color: white;
    visibility: hidden;
    opacity: 0;
}

.airbnb-image:hover .air-image-descrp{
    visibility: visible;
    padding-left: 155px;
    padding-top: 100px;
    opacity: 1;
}

/* -----RESUME----- */
.main-resume {
    padding-top: 55px;
}

/*-----Footer-----*/
#footer {
    background-color: hsl(0, 0%, 25%);
    padding: 25px;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.footer-info {
    padding: 15px;
}

.social-logo {
    font-size: 3em;
    color:white;
    padding: 5px;
}

.social-logo:hover {
    color: #BF5700;
}
